<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
<bean id = "stu" class="com.beans.Student">

<!--setter injection -->
<property name="stid" value="100" />
<property name="stname" value="teja" />

<!--constructor injection -->
<constructor-arg name="stid" value="101"/>
<constructor-arg name="stname" value="shiva"/>

</bean>
</beans>